<div class="container">
    <div class="row">
    <div class="error-template">
      <h1>Oops!</h1>
      <h2>404 Not Found</h2>
      <div class="error-details">
    Sorry, an error has occured, Requested page not found!<br>
    <?php echo CHtml::encode($message); ?>
      </div>
      <div class="error-actions">
    <a href="/blog" class="btn btn-primary">
        <i class="icon-home icon-white"></i> Take Me Home </a>
    <a href="mailto:iamutkarshtiwari@gmail.com" class="btn btn-default">
        <i class="icon-envelope"></i> Contact Support </a>
      </div>
  </div>
    </div>
</div>

<style>
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
</style>