{% extends "base.html" %}

{% block content %}
 <h3 style="text-align:center; text-decoration:none;"><a href="/blog/newpost">Create New Post </a></h3>
{% for p in posts %}

	<div class="post">
	  <div class="post-heading">
	    <div class="post-title">
	      <a>{{p.subject}}</a>
	    </div>

	    <div class="post-date">
	      {{p.created.strftime("%b %d, %Y")}}
	    </div>
	  </div>

	  <div class="post-content">
	    {{p.content | safe}}
	  </div>
	</div>

<br><br>
	{% endfor %}	

{% endblock %}