{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{error}}
                </div>
            {% endif %}
        </div>
        <div class="col-md-5">
            <a id="post-delete" class="btn btn-danger pull-right" href="/blog/{{username}}/deletepost/{{post.key().id()}}">Delete</a>
            <a id="post-edit" class="btn btn-primary pull-right" href="/blog/{{username}}/editpost/{{post.key().id()}}">Edit</a>
        </div>

        <div class="row">
        <div class="col-md-7">
            <h3 class="post-heading">
                <a class="post-title">{{post.subject}}</a>
            </h3>
        </div>
    </div>

    <small class="post-date">(Posted on {{post.created.strftime("%b %d, %Y")}} by {{post.user_id}})</small>
    
    <p class="post-content">{{post.content | safe}}</p>
    </div>
{% endblock %}


